@(implicit messages:Messages)

@main("Pencari Portal Open Data Indonesia") {

  <div class="container">

    <div class="starter-template">
      <h1>Pencari Portal Open Data Indonesia</h1>

      <p class="lead">
        Mesin pencari ini adalah mesin pencari sederhana untuk mencari sebuah data pada portal open data Indoensia.
      </p>

      <p class="lead">Mesin pencari ini dibuat dengan didukung oleh program member support School of Data <br/> <img src="@routes.Assets.at("images/logo_scoda.png")"/> </p>
    </div>

  </div>

}
