@import b4.vertical.fieldConstructor  // Declares a vertical field constructor as default
@import model.FormConfiguration
@import helpers.ConfigHelper

@(pFormConfiguration:Form[FormConfiguration], pConfigHelper:ConfigHelper)(implicit messages:Messages)

@main(pConfigHelper.getTranslation("main.title"),pConfigHelper) {

  <div class="container">

    <div class="starter-template">
      <h1>@Html(pConfigHelper.getTranslation("config.header"))</h1>

      <p class="lead">

        @Html(pConfigHelper.getTranslation("config.example"))

        @b4.form(routes.ConfigController.updateConfigForm) {

          @pConfigHelper.getTranslation("config.label.base")
          @b4.text( pFormConfiguration("baseURL"), '_hiddenLabel  -> pConfigHelper.getTranslation("config.label.base"), if(pConfigHelper.CONFIG_BASE_URL!=pConfigHelper.STATUS_URL_NOT_OK) { 'placeholder -> pConfigHelper.CONFIG_BASE_URL } else { 'placeholder -> pConfigHelper.getTranslation("config.placeholder.base")})

          @pConfigHelper.getTranslation("config.label.dataportal")
          @b4.text( pFormConfiguration("dataPortalSheetID"), '_hiddenLabel  -> pConfigHelper.getTranslation("config.label.dataportal"), if(pConfigHelper.CONFIG_DATA_PORTAL_SHEET_ID!=pConfigHelper.STATUS_URL_NOT_OK) { 'placeholder -> pConfigHelper.CONFIG_DATA_PORTAL_SHEET_ID } else { 'placeholder -> pConfigHelper.getTranslation("config.placeholder.dataportal")})

          @pConfigHelper.getTranslation("config.label.config")
          @b4.text( pFormConfiguration("configSheetID"), '_hiddenLabel  -> pConfigHelper.getTranslation("config.label.config"), if(pConfigHelper.CONFIG_SHEET_ID!=pConfigHelper.STATUS_URL_NOT_OK) { 'placeholder -> pConfigHelper.CONFIG_SHEET_ID } else { 'placeholder -> pConfigHelper.getTranslation("config.placeholder.dataportal") })

          @pConfigHelper.getTranslation("config.label.translation")
          @b4.text( pFormConfiguration("translationSheetID"), '_hiddenLabel  -> pConfigHelper.getTranslation("config.label.translation"), if(pConfigHelper.CONFIG_TRANSLATION_SHEET_ID!=pConfigHelper.STATUS_URL_NOT_OK) { 'placeholder -> pConfigHelper.CONFIG_TRANSLATION_SHEET_ID } else { 'placeholder -> pConfigHelper.getTranslation("config.placeholder.dataportal") })
          @b4.submit('class -> "btn btn-lg btn-secondary"){ @pConfigHelper.getTranslation("config.button.submit")}
      }

      </p>

    </div>

  </div>

}
