@import b4.vertical.fieldConstructor  // Declares a vertical field constructor as default
@import model.{FormSearchGeneral,OpenDataPortal}

@import helpers.ConfigHelper
@(pFormSearchGeneral:Form[FormSearchGeneral],pListOpenDataPortal:List[OpenDataPortal],pConfigHelper:ConfigHelper)(implicit messages:Messages)

@main(pConfigHelper.getTranslation("main.title"),pConfigHelper) {

    <div class="container">

        <div class="starter-template">
            <h1>@pConfigHelper.getTranslation("main.heading")</h1>

            <p class="lead">

            @b4.form(routes.Application.search) {
                @b4.text( pFormSearchGeneral("searchTerm"), '_hiddenLabel  -> pConfigHelper.getTranslation("search.label.keyword"), 'placeholder -> pConfigHelper.getTranslation("search.placeholder.keyword") )
                @b4.submit('class -> "btn btn-lg btn-secondary"){ @pConfigHelper.getTranslation("search.button.submit")}
            }

            </p>

            <p class="lead">@pConfigHelper.getTranslation("main.description") :
                @for((tOpenDataPortal,tIndex) <- pListOpenDataPortal.zipWithIndex) {

                    @if(tIndex == pListOpenDataPortal.size-1){
                        &
                    }

                    <a href="@tOpenDataPortal.url">@tOpenDataPortal.name</a>

                    @if(tIndex < pListOpenDataPortal.size-1) {
                        ,

                    }
                }
            </p>
        </div>

    </div>



}
