@import b4.vertical.fieldConstructor  // Declares a vertical field constructor as default
@import eu.trentorise.opendata.jackan.model.{CkanDataset, CkanResource}
@import model.{FormSearchGeneral,SearchResult}
@import play.api.libs.json.JsValue
@import helpers.ConfigHelper
@(pFormSearchGeneral:Form[FormSearchGeneral],pSearchResult:List[SearchResult],pSearchResultJSON:JsValue,pConfigHelper:ConfigHelper)(implicit messages:Messages)

@main(pConfigHelper.getTranslation("main.title"),pConfigHelper) {

    <script src="@routes.Assets.at("javascripts/main.js")"></script>


  <div class="container-fluid">

    <h2>@pConfigHelper.getTranslation("result.header")</h2>

    <p class="lead">

    @b4.form(routes.Application.search) {
        @b4.text( pFormSearchGeneral("searchTerm"), '_hiddenLabel -> pConfigHelper.getTranslation("search.label.keyword"), 'placeholder -> pConfigHelper.getTranslation("search.placeholder.keyword") )
        @b4.submit('class -> "btn btn-lg btn-secondary"){ @pConfigHelper.getTranslation("search.button.submit")}
    }

    </p>

      <h2>@pConfigHelper.getTranslation("result.subheader")</h2>

      <div class="table-responsive">


          <table class="table table-striped">

              <tbody>
                  <tr>
                      @for(tSearchResult <- pSearchResult) {
                          <td>
                              <a href="#" param="result-@tSearchResult.dataPortal.name.replace(' ','-')" class="href-button-dataportal">@tSearchResult.dataPortal.name (@tSearchResult.searchNo)</a>
                          </td>
                      }

                      <td>
                          <a href="#" class="href-button-exportcsv" param="@pSearchResultJSON.toString()">@pConfigHelper.getTranslation("result.csv")</a>
                      </td>
                  </tr>
                </tbody>
          </table>

          @for(tSearchResult <- pSearchResult) {

              <div id="result-@tSearchResult.dataPortal.name.replace(' ','-')" class="search-result">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>@pConfigHelper.getTranslation("result.subheader") : <a href="@tSearchResult.dataPortal.url">@tSearchResult.dataPortal.name</a> </th>
                          </tr>
                      </thead>
                      <tbody>


                                  @for(tDataSet <- tSearchResult.searchList) {
                                      <tr>
                                          <td>
                                              <p>
                                                  <b>@tDataSet.title</b> <br/> <br/>
                                                  @Html(HtmlFormat.escape(tDataSet.description).toString.replace("\n", "<br />")) <br/> <br/>
                                                  <b>@pConfigHelper.getTranslation("result.format") :</b> @if(!tDataSet.format.equalsIgnoreCase("")){ @tDataSet.format } else { - } | <b>@pConfigHelper.getTranslation("result.license") :</b>@tDataSet.license<br/>
                                                  <b>@pConfigHelper.getTranslation("result.link") :</b> <a href=" @if(!tDataSet.link.equalsIgnoreCase("")){ @tDataSet.link } else {-}">
                                                  @if(!tDataSet.link.equalsIgnoreCase("")){ @tDataSet.link } else {-}</a>
                                              </p>
                                          </td>
                                      </tr>
                                  }




                      </tbody>
                  </table>
              </div>
          }

      </div>
  </div>



}
